.productStores {
  list-style: none;
}
.searchRow .input-group {
  float: left;
}
.searchRow .form-control,.searchRow .btn {
  border-radius: 0 !important;
}
#txtCategorySearch {
  border-right:0;
}
.productStores {
  padding: 0;
}
.productStores .store {
  border: 1px solid #e7e7e7;
  height: 200px;
  padding: 10px;
  margin-bottom: 10px;
}
.store .productRow,.imgContainer {
  height: 100%;
}
.store .productImage {
  max-height: 180px;
  margin: auto;
}
.inline-col {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.center-align {
  text-align: center;
}
.productSite {
  background-color: #e7e7e7;
}
.loader {
  text-align: center;
}
.filterWrapper {
  padding: 10px;
  border: 1px solid #e7e7e7;
}
.resultWrapper {
  margin-top: 15px;
}
.ui-autocomplete {
  z-index: 2; /* It should be more than any element inside resultWrapper */
}