<div class="row searchRow">
  <div class="input-group input-group-lg col-xs-12 col-sm-4">
    <input type="text" class="form-control" placeholder="Select Category" id="txtCategorySearch">
  </div>
  <div class="input-group input-group-lg col-xs-12 col-sm-8">
      <input type="text" class="form-control" placeholder="Get the best price here" id="txtSearch">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-ng-click="searchCallback()">SEARCH</button>
      </span>
  </div>
</div>
<div class="loader" data-ng-show="loading">
  <img src="images/loader.gif">
</div>
<div class="row" data-ng-show="storesAvailable" data-ng-hide="loading">
  <div class="col-xs-12">
    <ul class="productStores">
      <li data-ng-repeat="store in stores" class="store">
        <div class="row productRow">
          <div class="col-xs-12 col-sm-4 inline-col center-align">
            <img data-ng-src="{{store.image}}" class="img-responsive productImage">
          </div><div vendor-price class="col-xs-6 col-sm-4 priceAndVendor inline-col center-align">
            
          </div><div class="col-xs-6 col-sm-4 inline-col center-align">
            <a data-ng-href="{{store.url}}" target="blank"><span class="btn productSite">Go To Site</span></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="notification" data-ng-show="showStatus">
  No Product Found for this search, please refine your search.
</div>
